<div class="welcome-text">
  <h3 class="welcome-heading">Welcome to Bot Hunt!</h3>
  <p class="welcome-subtext">The Best Way to Fine & Share New ChatBots</p>
</div>

<div class="main container">
  <nav class="sidebar">
      <ul class="platforms__categories">
        <h5 class="platform__header">Platforms</h5>
        <li class="platforms__detail">
          <a href="#"><img class="platform__icon" src="images/messenger.png" alt="messenger" />
            Messenger</a>
        </li>

      <li class="platforms__detail">
        <a href="#"><img class="platform__icon" src="images/telegram.png" alt="Telegram" />
          Telegram</a>
      </li>

      <li class="platforms__detail">
        <a href="#"><img class="platform__icon" src="images/kik.png" alt="Kik" />
          Kik</a>
      </li>

      <li class="platforms__detail">
        <a href="#"><img class="platform__icon" src="images/slack.png" alt="Slack" />
          Slack</a>
      </li>

      <li class="platforms__detail">
        <a href="#"><img class="platform__icon" src="images/text.png" alt="SMS" />
          SMS/Text</a>
      </li>

      <li class="platforms__detail">
        <a href="#"><img class="platform__icon" src="images/whatsapp.png" alt="whatsapp" />
          Whatsapp</a>
      </li>
    </ul>

    <footer class="footer">
      <p>Contact</p>
      <p class="legal">Made by @steftheo11</p>
    </footer>
  </nav>

<div class="content">
  {{#each model as |bot|}}
    <div class="bot-item">
      {{!-- <h3 class="date">{{bot.dateAdded}}</h3> --}}
        <ul class="list-group">
          <li class="list-group-item bot-row">
            {{#link-to 'index.bot' bot._id}}
            <div class="bot-info">
              <img src={{bot.imageUrl}} alt="" class="bot-image">
              <div class="bot__text-info">
                <h3 class="bot__name">{{bot.name}}</h3>
                <p class="bot__description">{{bot.description}}</p>
              </div>
            </div>
            {{/link-to}}
            <a href="{{bot.website}}">
              <span class="ss-globe bot__website"></span>
            </a>
            <div class="like-button">
              {{!-- {{like-counter likes=bot.score}} --}}
              <button class="btn btn-default ss-star"><br>
                {{!-- {{likes}} --}}
              </button>
            </div>
          </li>
        </ul>
    </div>
  {{/each}}
</div>
  {{outlet}}
</div>
