<div class="welcome-text">
  <h3 class="welcome-heading">Welcome to Bot Hunt!</h3>
  <p class="welcome-subtext">The Best Way to Share & Find New ChatBots</p>
</div>

<div class="main">
  <nav class="sidebar">
      <ul class="platforms__categories">
        <h5 class="platform__header">Platforms</h5>
        <li class="platforms__detail">
          <img class="platform__icon" src="images/messenger.png" alt="messenger" /> Messenger
        </li>

      <li class="platforms__detail">
        <img class="platform__icon" src="images/telegram.png" alt="Telegram" /> Telegram
      </li>

      <li class="platforms__detail">
        <img class="platform__icon" src="images/kik.png" alt="Kik" /> Kik
      </li>

      <li class="platforms__detail">
        <img class="platform__icon" src="images/slack.png" alt="Slack" /> Slack
      </li>

      <li class="platforms__detail">
        <img class="platform__icon" src="images/text.png" alt="SMS" /> SMS/Text
      </li>

      <li class="platforms__detail">
        <img class="platform__icon" src="images/whatsapp.png" alt="whatsapp" /> Whatsapp
      </li>
    </ul>

    <footer class="footer">
      <p>Contact</p>
      <p class="legal">Made by @steftheo11</p>
    </footer>
  </nav>

{{#each model as |bot|}}
{{#link-to 'bot-detail' app._id}}
  <div class="content">
    <h3 class="date">{{bot.dateAdded}}</h3>
    <ul class="list-group">
      <li class="bot-row list-group-item">
        <div class="bot-info">
          <img src={{bot.imageUrl}} alt="" class="bot-image">
          <div class="bot__text-info">
            <h3 class="bot__name">{{bot.name}}</h3>
            <p class="bot__description">{{bot.description}}</p>
          </div>
        </div>
        <label class="bot__platform-messenger">Messenger</label>
        <button class="ss-globe bot__website"></button>
        <button type="button" class="bot__link">
          <img class="bot__link-image" src="" alt="">
        </button>
        <div class="like-button">
          <button class="btn btn-default ss-star"><br>
            100</button>
        </div>
      </li>
    </ul>
  </div>
  {{/link-to}}
  {{/each}}
</div>

{{outlet}}
