<div class="modal fade modal--active" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {{#link-to 'index'}}
          <button type="button" class="close-form glyphicon glyphicon-remove" data-dismiss="modal"></button>
        {{/link-to}}
        <h3 class="modal-title" id="myModalLabel">Share a New Bot!</h3>
      </div>

      {{#simple-form onsubmit=(action saveBot) as |formValues|}}
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group form-group-sm">
              <label class="col-sm-3 control-label">Name</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <span class="input-group-addon ss-write"></span> <p>{{input type="text" class="form-control input-sm" placeholder="Bot Name" value=formValues.name}}</p>
                </div>
              </div>
            </div>

            <div class="form-group form-group-sm">
              <label class="col-sm-3 control-label">Link</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <span class="input-group-addon ss-globe"></span> <p>{{input type="link" class="form-control input-sm" placeholder="Link to Bot" value=formValues.websiteUrl}}</p>
                </div>
              </div>
            </div>

            <div class="form-group form-group-sm">
              <label class="col-sm-3 control-label">Description</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <span class="input-group-addon ss-quote"></span> <p>{{input type="text" class="form-control" placeholder="Tagline" value=formValues.description}}</p>
                </div>
              </div>
            </div>

            <div class="form-group form-group-sm toggles">
              <label class="col-sm-3 control-label">Platform</label>
              {{#each model as |platform|}}
              {{x-toggle showLabels=true onLabel=platform.name offLabel="" toggle=(action addPlatform (action (mut formValues.platforms)) formValues.platforms platform)}}
              {{/each}}
            </div>

            <div class="form-group form-group-sm">
              <label class="col-sm-3 control-label">Image</label>
              <div class="col-sm-9">
                {{profile-upload fileUrl=formValues.imageUrl placeholderUrl="images/ui-face-2.png" onchange=(action (mut formValues.imageUrl))}}
              </div>
            </div>
          </form>
        </div>

  <div class="modal-footer">
      <button class="btn btn-purple btn-embossed add-bot__submit">Submit Bot!</button>
  </div>
  {{/simple-form}}
  </div>
  </div>
  </div>
