<div class="bots">
  <ul class="list-group">
    <li class="list-group-item bot-row">
        <div class="bot-info">
          <img src= {{bot.imageUrl}} alt="" class="bot-image">
          <div class="bot__text-info">
            <div class="bot__name-site">
              <h3 class="bot__name">{{bot.name}}</h3>
              <a href= {{bot.websiteURL}} class="fa fa-globe"></a>
            </div>
            <p class="bot__description">{{bot.description}}</p>
          </div>
        </div>
        <div class="platforms">
          {{bot.platform}}
        </div>
      <div class="like-button">
        <button class="btn btn-default ss-star">
          <br>
        </button>
      </div>
    </li>
  </ul>
  </div>
